extends ../layout.pug

block main
  include ../includes/books.pug
  h1 #{pageTitle}
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year Released
    tbody
    each book in books
      tr
        td
          a(href='../books/' + book_id )= book_title
        td= book_author
        td= book_genre
        td= book_first_published
